﻿@model Ecomerce.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderId }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-success" })
</p>

<h4> <strong>Details</strong></h4>
<hr />
@if (Model.OrderDetails.Count() == 0)
{
    <h5>No details added yet</h5>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.FirstOrDefault().Product.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.FirstOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.FirstOrDefault().TaxRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.FirstOrDefault().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.FirstOrDefault().Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.FirstOrDefault().Value)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.OrderDetails)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(item.Product.Image))
                    {
                        <img src="@Url.Content(item.Product.Image)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
                    }
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.TaxRate)
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
            </tr>
        }
        @*<tr>
            <td colspan="4" align="right">
                <strong>Total</strong>
            </td>
            <td align="right">
                <strong>@Html.DisplayFor(model => model.OrderDetails.FirstOrDefault().Quantity)</strong>
            </td>
            <td align="right">
                <strong>@Html.DisplayFor(model => model.OrderDetails.FirstOrDefault().Value)</strong>
            </td>
        </tr>*@
    </table>
}


